.bbbx-action-btn {
    margin-right: 8px;
}

.bbbx-action-publish {
    background-color: #CEF6F5;
}

.bbbx-action-unpublish {
    background-color: #F5F6CE;
}

.bbbx-action-play {
    background-color: #04B404;
    color: white;
}

.bbbx-btn-danger {
    background-color: #c00000;
    color: white;
}

.bbbx-table-console {
    width: 100%;
    table-layout: fixed;
}

.bbbx-table-console td {
    vertical-align: top ;
}

.bbbx-table-console tr:nth-child(even) {
    background: #efefef;
}

.bbbx-td-colon {
    width: 1em;
    text-align: center;
}

.bbbx-td-value {
}
